.changelog-container {
    width: 480px;
    max-height: 480px;
    overflow-y: scroll;
    margin-left: -240px;
    padding: 12px 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: @dark;
    color: @light-gray;
    font-size: 12px;
    font-family: inherit;
    opacity: 0;
    border-radius: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 0 6px @blue-medium;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 200;
}

.changelog-container_isOpen {
    pointer-events: auto;
    opacity: 1;
}

.changelog-hd {
    min-height: 1.5em;
    padding: @spacing-2x 0 7px 0;
    font-size: 170%;
    text-align: center;
    box-sizing: border-box;
}

.changelog-version {
    min-height: 1.5em;
    padding: @spacing-1x 0 4px 0;
    font-size: 140%;
    text-align: center;
    box-sizing: border-box;
}

.changelog-view-full {
    min-height: 1.5em;
    padding: @spacing-1x 0 4px 0;
    font-size: 140%;
    text-align: center;
    color: @light-gray;
    box-sizing: border-box;
}

.changelog-view-full a {
    color: inherit;
}
