{
    "extends": "airbnb",
    "env": {
        "node": true,
        "browser": true
    },
    "rules": {
        "arrow-body-style": 0,
        "comma-dangle": [2, "never"],
        "no-did-mount-set-state": [0, "never"],
        "indent": [1, 4, {"SwitchCase": 1}],
        "no-console": 0,
        "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
        "semi": [2, "always"]
    }
}
