#command {
  background-color: #141414;
  color: #ddd;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  padding: 0 18px;
  padding-right: 464px;

  -webkit-user-select: text;
  -moz-select: text;
  user-select: text;
}
