
#log {
  pointer-events: none;

  font-size: 80%;

  position: absolute;
  left: 0;
  bottom: 36px;
  width: calc(100% - 250px);
}

#log .item {
  opacity: 0.8;

  transition: opacity 10s ease;

  color: #ddd;

  display: block;
  padding: 3px 5px;
}

#log .item.warn {
  color: #f64;
  opacity: 1;
}

#log .item.hidden {
  opacity: 0;
}

#log .from {
  display: inline-block;
}

#log .from:after {
  content: ":";
  display: inline-block;
  margin-right: 0.4em;
}
