@import "reset.css";
@import "util.css";
@import "canvas.css";
@import "font.css";
@import "hdg.css";
@import "controls.css";
@import "pause.css";
@import "command.css";
@import "log.css";
@import "media.css";
@import "stripView.css";
@import "sidebar.css";
@import "loadingView.css";
@import "loadingIndicator.css";
@import "tutorial.css";
@import "airport.css";
@import "score.css";
@import "option_dialog.css";


html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: monoOne, monospace;
}

#clock {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    font-size: 12px;
    color: #ddd;
    z-index: 1000;
}
