@import "reset.css";
@import "util.css";
@import "canvas.css";
@import "font.css";
@import "controls.css";
@import "pause.css";
@import "command.css";
@import "log.css";
@import "stripView.css";
@import "sidebar.css";
@import "loading.css";
@import "tutorial.css";
@import "airport.css";
@import "score.css";
@import "option_dialog.css";


html,body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #354;
  font-family: monoOne, monospace;
}

#clock {
  font-size: 12px;
  color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 8px;
  z-index: 1000;
}
