.option-dialog {
    width: 480px;
    height: auto;
    margin-left: -240px;
    padding: 12px 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(15, 25, 20, 1);
    color: #ddd;
    font-size: 12px;
    opacity: 0;
    border-radius: 1px;
    box-shadow: 0 0 0 6px rgba(31, 65, 48, 1.0);
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.option-dialog.open {
    opacity: 1;
    pointer-events: auto;
}

.option-dialog span.option-description {
    display: inline-block;
    width: 65%;
}

.option-dialog span.option-selector {
    display: inline-block;
    width: 35%;
    position: absolute;
    right: 0px;
}

.option-dialog select {
    width: 100%;
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    background-color: rgba(15, 25, 20, 1);
    border: 0;
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
}

.option-type-select::after {
    height: 1em;
    position: absolute;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
    font-size: .625em;
    line-height: 1;
    content: "\25BC";
    pointer-events: none;
}
