@import "strip.css";

#sidebar {
    height: calc(100% - 36px);
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#sidebar #strips {
    width: 100%;
    max-height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    bottom: 0;
    font-size: 80%;
    overflow-y: scroll;
}

.nice-scrollbar::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
}

.nice-scrollbar::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.nice-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.nice-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.3);
}
