@import "strip.css";

/*#sidebar {
    height: calc(100% - 36px);
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}

/*#sidebar #strips {
    width: 100%;
    max-height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    bottom: 0;
    font-size: 80%;
    overflow-y: scroll;
}*/

.stripView {
    height: calc(100% - 36px);
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    font-family: Monospace, serif;
    font-size: 10px;
    max-width: 500px;
    overflow: hidden;
    background-color: #000000;
}

.stripView-list {
    /*padding-left: 5px;*/
    max-height: 100%;
    list-style-type: none;
    overflow-y: scroll
}

.stripViewItem {
    border: 1px solid #222;
}

.stripView-list > * + * {
    margin-top: 3px;
    border-top: none;
}

.stripViewItem-table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    box-sizing: border-box;
}

.stripView-table-td {
    padding: 3px 5px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
}

.stripView-table-td + .stripView-table-td {
    border-left: 1px solid
}

.stripView-table-td > span {
    float: right;
}

.stripView-table-tr > .stripView-table-td:nth-child(0n+1) {
    width: 70px;
    text-align: left;
}

.stripView-table-tr > .stripView-table-td:nth-child(0n+2),
.stripView-table-tr > .stripView-table-td:nth-child(0n+3) {
    width: 50px;
}

.stripView-table-tr > .stripView-table-td:nth-child(0n+4) {
    text-align: left;
}

.stripView-trigger {
    height: 100%;
    width: 10px;
    float: left;
    cursor: pointer;
    background-color: #000000;
    transition: ease-in-out all 0.2s;
}

.stripView-trigger:hover {
    background-color: #333333;
}

.nice-scrollbar::-webkit-scrollbar {
    width: 8px;
    padding: 4px;
}

.nice-scrollbar::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgba(255, 255, 255, 0.4);
}

.nice-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.nice-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.5);
}
