
#tutorial {
  background-color: rgba(15, 25, 20, 1);

  box-shadow: 0 0 0 6px rgba(31, 65, 48, 1.0);
  border-radius: 1px;

  color: #ddd;
  font-size: 12px;

  position: absolute;
  padding: 12px 15px;
  min-height: 72px;
  width: 480px;
  height: auto;

  opacity: 0;
  
  pointer-events: none;

  transition: opacity 0.5s ease;
}

#tutorial.open {
  pointer-events: auto;

  opacity: 1;
}

#tutorial h1 {
  font-size: 120%;

  padding-left: 20px;

  padding-bottom: 5px;
}

#tutorial main {
  line-height: 125%;
}

#tutorial .prev, #tutorial .next {
  background-color: rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
/*  margin-top: -24px;*/
  height: 100%;
  width: 24px;
}

#tutorial .prev img, #tutorial .next img {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin-top: -24px;
}

#tutorial .prev:hover, #tutorial .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#tutorial .prev:active, #tutorial .next:active {
  background-color: rgba(0, 0, 0, 0.6);
}

#tutorial .prev:hover img, #tutorial .next:hover img {
  opacity: 0.8;
}

#tutorial .prev:active img, #tutorial .next:active img {
  opacity: 0.6;
}

#tutorial .prev {
  left: 0;
  margin-left: -30px;
}

#tutorial .next {
  right: 0;
  margin-right: -30px;
}

#tutorial ul {
  margin: 0.5em 2em;
}