<div id="airport-switch" class="dialog notSelectable">
    <p class="dialog-title">Select Airport</p>
    <div>
    <input class="search" placeholder="search airports">
    </div>
    <div class="dialog-body nice-scrollbar"></div>
</div>
