<div class="changelog-container nice-scrollbar">
    <h1 class="changelog-title">Changelog</h1>
    <h2 class="changelog-version"></h2>
    <p class="changelog"></p>
    <a class="dismiss-changelog">Dismiss</p>
</div>
