<div class="changelog-container js-changelogContainer nice-scrollbar">
    <h1 class="changelog-hd">Changelog</h1>
    <h2 class="changelog-version">v{{version}}</h2>
    <p class="js-changelog blackBox"></p>
    <div class="changelog-view-full">
        <a href="https://github.com/openscope/openscope/releases" target="_blank">View all changelogs</a>
    </div>
</div>
