<div class="js-changelogContainer nice-scrollbar">
    <h1 class="changelog-hd">Changelog</h1>
    <h2 class="changelog-version">{{version}}</h2>
    <p class="js-changelog blackBox"></p>
    <p class="js-dismissChangelog">Dismiss</p>
</div>
