<div id="loading">
    <div class="media">
        <div class="media-figure">
            <img src="assets/images/emblem.svg" height="150" width="150" />
        </div>
        <div class="media-content">
            <div class="media-hd">
                OpenScope (X.X.X)
            </div>
            <div class="media-bd">
                Air Traffic Control Simulator
            </div>
            <div class="media-ft">
                Loading . . .
            </div>
        </div>
    </div>
  <!-- <img src="assets/images/splash-screen.gif" title="Jon Ross' ATC" />
  <br>
  <h3>Preparing your shift....</h3> -->
</div>
