<div class="loadingView js-loadingView">
    <div class="loadingViewMedia u-center-middle">
        <div class="loadingViewMedia-figure">
            <img src="assets/images/openscope-radar-sweep.gif" height="150" width="150" />
        </div>
        <div class="loadingViewMedia-content">
            <div class="loadingViewMedia-hd">
                <h1 class="hdg hdg_1">OpenScope</h1>
            </div>
            <div class="loadingViewMedia-bd">
                Air Traffic Control Simulator
            </div>
            <div class="loadingViewMedia-bd">
                v{{version}}
            </div>
            <div class="loadingViewMedia-ft">
                Loading
                <span class="loadingView-dot loadingView-dot_one">.</span>
                <span class="loadingView-dot loadingView-dot_two">.</span>
                <span class="loadingView-dot loadingView-dot_three">.</span>
            </div>
        </div>
    </div>
</div>
