<div id="sidebar" class="stripView js-stripView">
    <div class="stripView-trigger js-stripView-trigger">
        <div class="stripView-trigger_button"><span>|&lt;<span></div>
    </div>
    <ul id="strips" class='stripView-list nice-scrollbar js-stripView-list'></ul>
</div>
