<div id="sidebar" class="stripView js-stripView mix-stripView_isHidden">
    <div class="stripView-trigger js-stripView-trigger"></div>
    <ul id="strips" class='stripView-list nice-scrollbar js-stripView-list'></ul>
</div>
