<div id="sidebar" class="stripView js-stripView mix-stripView_isHidden">
    <div class="stripView-trigger js-stripView-trigger"></div>
    <div class="stripTitle">Arrivals / Overflights</div>
    <ul class='stripView-list nice-scrollbar js-stripViewArrivals-list'></ul>
    <div class="stripTitle">Departures</div>
    <ul class='stripView-list nice-scrollbar js-stripViewDepartures-list'></ul>
</div>
