/*Fallback font for broader unicode char coverage.*/
/*source: http://www.fontspace.com/unicode-fonts-for-ancient-scripts/symbola*/
@font-face {
  font-family: 'monoOne';
  src: url('../fonts/Symbola.ttf') format('truetype');
}

/*Primary Font*/
@font-face {
  font-family: 'monoOne';
  src: url('../fonts/monoOne.otf') format('otf'),
       url('../fonts/monoOne.woff') format('woff');
}