
@import "reset.css";
@import "canvas.css";

@import "font.css";

@import "controls.css";
@import "pause.css";

@import "command.css";
@import "log.css";
@import "sidebar.css";

@import "loading.css";

@import "tutorial.css";

@import "airport.css";

@import "score.css";

html,body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #354;
  font-family: monoOne, monospace;
}

#airport {
  color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 10px;
  z-index: 1000;

  -webkit-user-select: text;
  -moz-select: text;
  user-select: text;
}