
@import "reset.css";
@import "canvas.css";

@import "controls.css";
@import "pause.css";

@import "command.css";
@import "log.css";
@import "sidebar.css";

@import "loading.css";

html,body {
  height: 100%;
  width: 100%;
}

html {
  background-color: #354;
  font-family: monoOne, monospace;
}
