
#paused {
  background: rgba(0, 0, 0, 0.5);

  color: #ddd;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;

  z-index: 500;
}

#paused img {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

#paused img:hover {
  cursor: pointer;
  opacity: 0.7;
}

#paused img:active {
  cursor: pointer;
  opacity: 0.4;
}

html.paused #paused {
  opacity: 1;
  pointer-events: auto;
}
