
@import "strip.css";

#sidebar {
  background-color: rgba(0,0,0,0.7);
  color: #ddd;

  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: calc(100% - 36px);
  overflow-y: scroll;
}

.nice-scrollbar::-webkit-scrollbar {
  width: 8px;
  padding: 2px;
}

.nice-scrollbar::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.nice-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.nice-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.3);
}

#sidebar #strips {
  font-size: 80%;
  padding: 10px;
  height: 100%;
}

