{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <div id="clock"></div>
        <div id="canvases"></div>
        <div id="log"></div>
        <input id="command"
            placeholder="enter command"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            spellcheck="false"
            autofocus />

        {{> _stripView}}

        {{> _score}}

        {{> _controls}}

        {{> _airportSwitch}}

        {{> _paused}}

        {{> _loadingView}}

        {{> _loadingIndicator}}
    {{/content}}
{{/extend}}
